html {
    height: 100%
}

body{
    font-family: "Gill Sans", sans-serif;
    margin: 0;
    text-align: center;
    background-color: #1b4965;
    color: azure;
    height: 100%;
    overflow: auto;
}

.App {
    max-width: 1400px;
    margin-left: auto;
    margin-right:auto;
}

#title {
    font-size: xx-large;
    text-decoration: underline;
}

#newGame {
    background: #5fa8d3;
    border: 2px solid whitesmoke;
    padding: 6px 12px;
    border-radius: 10px;
    color: whitesmoke;
    cursor: pointer;
    font-size: 1.2em;
    transition: transform 0.2s;
}

#newGame:hover {
    background: #1b4965;
    color: whitesmoke;
}

#newGame:active {
    transform: scale(1.1);
}

.scores {
    font-size: x-large;
}

#scoreSeparator {
    height: 30px;
    width: 2px;
    background-color: azure;
}

#bestScore {
    color: goldenrod
}

.card-grid {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 15px;
    column-gap: 19px;
}

.card {
    position: relative;
}

.card img {
    width:100%;
    display: block;
    border: 3px solid whitesmoke;
    border-radius: 12px
}

.card .front {
    transform: rotateY(90deg);
    transition: all ease-in-out 0.1s;
    position:absolute;
    border: 0px solid whitesmoke;
}

.flipped .front {
    transform: rotateY(0deg);
    margin-top: 10%;
    margin-left: 5%;
    width: 47%;
    height: 67%;
}

#gameStats {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}


@media (max-width: 1400px) {
    
    .card-grid {
        row-gap: 10px;
        column-gap: 14px;
        margin-left: 40px;
        margin-right: 40px;
        padding: 0;
    }
}

@media (max-width: 768px) {
    
    .card-grid {
        row-gap: 5px;
        column-gap: 9px;
        margin-left: 8px;
        margin-right: 8px;
        padding: 0;
    }

    .card img {
        border: 2px solid whitesmoke;
        border-radius: 12px
    }
}
