/* Base styles for the entire document */
html {
    height: 100%
}

body{
    font-family: "Gill Sans", sans-serif;
    margin: 0;
    text-align: center;
    background-color: #1b4965;
    color: whitesmoke;
    height: 100%;
    overflow: auto;
}

/* Container for the entire application */
.App {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

#title {
    font-size: 2.5rem;
    text-decoration: underline;
    margin-top: 40px;
    margin-bottom: 0;
}

/* Button styling for starting a new game */
#newGame {
    background: #5fa8d3;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 10px;
    color: whitesmoke;
    cursor: pointer;
    font-size: 1.5em;
    transition: transform 0.2s, background-color 0.2s;
}

#newGame:hover {
    background: #1b4965;
}

#newGame:active {
    transform: scale(1.1);
}

/* Common styles for score display */
.scores {
    font-size: 1.5rem;
    display: inline-block;
}

#currentScore {
    margin: 0;
    padding: 0;
}

/* Separator between current score and best score */
#scoreSeparator {
    height: 50px;
    width: 2px;
    background-color: whitesmoke;
}

#bestScore {
    color: goldenrod;
    margin: 0;
    padding: 0;
}

/* Container for game statistics */
#gameStats {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    margin-right: auto;
    margin-left: auto; 
    margin-top: 10px;
}

/* Grid layout for cards */
.card-grid {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 9px;
    column-gap: 13px;
}

.card {
    position: relative;
    cursor: pointer; 
    transition: transform 0.3s; 
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    width:100%;
    display: block;
    border: 3px solid whitesmoke;
    border-radius: 12px
}

.card .front {
    transform: rotateY(90deg);
    transition: all ease-in-out 0.2s;
    position:absolute;
    border: 0px solid whitesmoke;
}

.flipped .front {
    transform: rotateY(0deg);
    margin-top: 10%;
    margin-left: 5%;
    width: 47%;
    height: 67%;
}

/* Responsive design adjustments */
@media (max-width: 1600px) {

    .App{
        row-gap: 30px;
    }
    
    .card-grid {
        row-gap: 6px;
        max-width: 700px;
        column-gap: 10px;
        margin-left: 40px;
        margin-right: 40px;
        padding: 0;
    }
    .card:hover {
        transform: scale(1.02);
    }
    #title {
        font-size: 2rem;
        margin-top: 30px;
    }
    #newGame {
        font-size: 1.0em;
    }
    #gameStats {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    
    .card-grid {
        row-gap: 3px;
        column-gap: 7px;
        margin-left: 8px;
        margin-right: 8px;
        padding: 0;
    }

    #newGame:active {
        transform: scale(1.01);
    }

    .card img {
        border: 2px solid whitesmoke;
        border-radius: 12px
    }

    #gameStats {
        column-gap: 20px;
        margin-top: 0;
    }

    #title {
        font-size: 2rem;
    }

    .scores, #newGame {
        font-size: 1rem; /* Adjusted font size for smaller screens */
    }

    #scoreSeparator {
        height: 30px;
    }
}

/* Animation for highlighting new high score */
@keyframes highlight {
    0% {
        color: goldenrod;
    }
    50% {
        color: white;
        text-shadow: 0 0 20px goldenrod, 0 0 40px goldenrod, 0 0 60px goldenrod;
        /* text-shadow: 0 0 10px goldenrod, 0 0 20px goldenrod, 0 0 30px goldenrod; */
    }
    100% {
        color: goldenrod;
    }
}

#bestScore.highlight {
    animation: highlight 1.5s ease-in-out;
}